*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* from line 9-  is for the style of the navigation bar */
nav{
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #5a5a5a;
    width: 100%;
    height: 80px;
}

nav a{
    color: white;
    transition: 0.4s;
}
.logo_nav:hover{
    color: #4ba7c4;
}
nav ul li{
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a{
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    transition: 0.5s;
}
nav ul li a:hover{
    color: #4ba7c4;
    border-radius: 10px;
}
.login_nav{
    border-radius: 35px;
    background-color: #4ba7c4;
}
.login_nav:hover{
    border-radius: 35px;
    color: white;
    background-color: #3b859c;
}
nav ul li ul{
    display: none;
    position: absolute;
    background-color: #5a5a5a;
    border-radius: 0px 0px 10px 10px;
}
nav ul li:focus-within ul{
    display: block;
}
nav ul li ul li{
    width: 220px;
}
nav ul li ul li a{
    padding: 8px 30px;
}
nav ul li ul li a:hover{
    color: white;
    background-color: #24252a;
    border-radius: 10px;
}

/* from line 47-85  is for the syle of the home page intro animation */
.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #5a5a5a;
    /* background-image: url("../media/photo3.jpg"); */
    /* background-size: cover; */
    transition: 1s;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #ffffff;
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
} 

.logo_nav{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

#hello{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
}

#logout-link{
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #4ba7c4;;
}
#logout-link:hover{
    color: #1f456e;
}


