*{
    margin:0;
    padding:0;
    font-family: sans-serif;
   
}
/* body
{
    overflow: hidden;
    margin: 0;
    display: block;

} */

/*home photo*/
.banner{
    width:100%;
    height:75vh;
    top: 0;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../media/image1.jpg); 
    background-size:cover;
    background-position: center;
    position: relative;
    display: inline-block;
    overflow: hidden;
    
}




/*navigation bar*/

.navbar {
    width:85%;
    margin: auto;
    padding: 30px 50px 30px 50px;
    display: inline-block;
    align-items: center;
    justify-content: space-between;   
    transform: translateX(50%);
    
 
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    /* position:fixed; */
    transform: translateX(160%);
}

.navbar ul li a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.rest_nav::after{
    content: '';
    height: 3px;
    width: 0px;
    background: #3b859c;
    position: absolute;
    left:0;
    bottom: 0;
    transition: 0.5s;
}

.rest_nav:hover:after{
width: 100%;

}

/*photo content*/
.content
{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 50px;
    margin-top: 80px;
}


.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

/*animation*/

.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #5a5a5a;
    background-image: url("../media/photo3.jpg");
    background-size: cover;
    transition: 1s;
}

/*logo design*/
.logoo{
   width: 120px;
   text-decoration: none;
   color:white;
   font-size: 30px;
   position: fixed;
   display: inline-block;
   transform: translateY(70%);
   margin-left: 30px;
   

}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #ffffff;
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
} 

/*login button*/
.login_nav{
   width: 50wh;
   border-radius: 50px;
    background-color: #147390;
    padding: 20px;
}
.login_nav:hover{
    border-radius: 35px;
    color: white;
    background-color: #0d2c35;
}



.username{
color: white;
display: inline;
transform: translateY(-85%);
font-size: 20px;
}

.profile_picture{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline ;
    transform: translateY(30%);
    margin-right: 10px;
}



