*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252a;
    /* position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px; */
}

header h4{
    /* position: absolute;
    bottom: 1rem; */
    font-size: 1.6rem;
    color: #edf0f1 ;
}

.intro{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    /* background-color: #161616; */
    background-image: url("../media/photo3.jpg");
    background-size: cover;
    transition: 1s;
}

.logo-header{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
    color: #ffffff;
}

.logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
} 

li, a, button{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo_nav{
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

#hello{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
}

#logout-link{
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #4ba7c4;;
}
#logout-link:hover{
    color: #1f456e;
}